# Expo / React Native
.expo/
dist/
web-build/
android/
ios/

# Dependencies
node_modules/

# Native & Signing Artifacts
*.keystore
*.jks
*.b64
*.apk
*.aab

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env*.local

# System
.DS_Store
Thumbs.db
